/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --vt-c-action-color:#5B70AF;
  --vt-c-text-color: #344051;
  --vt-c-heading-color: #343434;
  --vt-c-paragraph-color: #575353;
  --vt-c-input-color: #EFF1F999;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body{
  margin: 0px;
  font-family: 'Lato', sans-serif;
}
